<!DOCTYPE html>
<html lang="pt-br">
<head>
 <meta charset="UTF-8" />
 <title>Novo Jogo</title>
 <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
 <h1>Novo Jogo</h1>
 <form action="/jogos/novo" method="POST">
 <p><label>Título:</label><br /><input name="titulo" required /></p>
 <p><label>Plataforma:</label><br /><input name="plataforma" required placeholder="Ex.: PC,
PS5, Switch" /></p>
 <p>
 <label>Dono (Amigo):</label><br />
 <select name="amigoId" required>
 <% amigos.forEach(a => { %>
 <option value="<%= a.id %>"><%= a.nome %> (<%= a.email %>)</option>
 <% }) %>
 </select>
</p>
<p>
<button type="submit">Salvar</button> <a href="/jogos">Cancelar</a></p>
 </form>
</body>
</html>